doctype html
html
  head
    meta charset="utf-8"

    / Always force latest IE rendering engine or request Chrome Frame
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    / Use title if it's in the page YAML frontmatter
    title = current_page.data.title || "Holy Ground"

    = stylesheet_link_tag "normalize", "reveal.min", "theme/default"
    = javascript_include_tag  "all"

  body
    .reveal
      .slides
        = yield

    coffee:
      Reveal.initialize()
